<?xml version="1.0"?>
<configuration>

	<location path="Zahtevi_ADMIN.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Naruci_voznju.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

</configuration>
